@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-notifications/lib/notifications.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
  color: #1f2937;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-custom {
  animation: spin 0.8s linear infinite;
}
